<header>
    <div class="back">
        <a (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill text-white" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </a>
    </div>
    <div class="logotipo">
        <img src="https://asebepunahcu.files.wordpress.com/2017/09/cropped-logo-asebep.png?w=40" alt="logo_asebep"> <span class="mx-2">Asebep</span>
    </div>
    <div class="dropdown">
        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle text-white" data-bs-toggle="dropdown"
                aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list text-white" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/account']">Mi Perfil</a></li>
                <li><a class="dropdown-item" [routerLink]="['/hours']">Mis Horas</a></li>
                <li><a class="dropdown-item" [routerLink]="['/payments']">Pagos</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</header>
