<app-header></app-header>
<div class="container">
    <div class="row d-flex justify-content-center m-2">
        <div class="row d-flex justify-content-center ">
            <div class="divisor col-md-12 col-sm-12">
            </div>
        </div>
        <div class="col-md-8 col-sm-12 text-center">
            <span>Datos personales:</span>
        </div>
        <div class="col-md-8 col-sm-12 contenedor">
            <div class="row d-flex justify-content-center ">
                <div class="col-12 text-center mt-2">
                    <span class="text-blue">Nombre:</span> 
                </div>
                <div class="col-12 text-center ">
                    <span class="lg-texto">David Abraham Mendoza Quiroz</span>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-blue">Cuenta:</span> 
                </div>
                <div class="col-12 text-center">
                    <span class="lg-texto">20162330105</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-5 mt-2">
                    <div class="row d-flex justify-content-center  ">
                        <div class="col-12 text-center">
                            <span class="text-blue">Carrera:</span> 
                        </div>
                        <div class="col-12 text-center">
                            <span class="lg-texto">Ingeniería en Sistemas</span>
                        </div>
                        
                    </div>
                </div>
                <div class="col-5 mt-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="text-blue">Centro:</span> 
                        </div>
                        <div class="col-12 text-center">
                            <span class="lg-texto">CURLP</span>
                        </div>
                    </div>
                </div>
                <div class="col-5 mt-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="text-blue" >Beca:</span> 
                        </div>
                        <div class="col-12 text-center">
                            <span class="lg-texto">Excelencia B</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="divisor col-md-12 col-sm-12">
            </div>
        </div>
        
        <div class="col-md-8 col-sm-12 text-center">
            <span>Datos del usuario:</span>
        </div>
        <div class="col-md-8 col-sm-12 contenedor">
            <div class="row d-flex justify-content-center ">
                
                <div class="col-5 mt-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="text-blue">Usuario:</span> 
                        </div>
                        <div class="col-12 text-center">
                            <span class="lg-texto">davidMendoza</span>
                        </div>
                    </div>
                </div>
                <div class="col-5 mt-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="text-blue" >Tipo:</span> 
                        </div>
                        <div class="col-12 text-center">
                            <span class="lg-texto">Estudiante</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-2">
                    <span class="text-blue" >Acciones:</span> 
                </div>
                <div class="col-12 text-center ">
                    <button class="btn btn-primary mt-2 mx-1">Cambiar contraseña</button>
                    <!-- <button class="btn btn-danger mt-2">Dar de baja</button> -->
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="divisor col-md-12 col-sm-12">
            </div>
        </div>


    </div>
</div>
