<app-header></app-header>
<div class="container"> 
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="{{actividad.img_link}}" alt="logo_asebep" class="datailImg">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center fs-2">
            {{actividad.nombre}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            {{actividad.descripcion}}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Horas</td>
                    <td>{{actividad.cant_horas}}</td>
                  </tr>
                  <tr>
                    <td>Fecha Inicio</td>
                    <td>{{convertirFecha(actividad.fecha_inicio)}}</td>
                  </tr>
                  <tr>
                    <td>Fecha Fin</td>
                    <td>{{convertirFecha(actividad.fecha_fin)}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-6">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Disponible para:</td>
                    <td>{{actividad.alcance.alcance}}</td>
                  </tr>
                  <tr>
                    <td>Centro</td>
                    <td>{{actividad.centro.centro}}</td>
                  </tr>
                  <tr>
                    <td>Asignada</td>
                    <td><img src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png" width="25px"></td>
                    <!-- <td><img src="https://cdn-icons-png.flaticon.com/512/929/929416.png" width="25px"></td> -->
                  </tr>
                </tbody>
              </table>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            Comentarios:
        </div>
    </div>
    <div class="row mt-2 pb-5">
        
        <ng-container>
            <div class="col-12 comentario shadow-sm">
                
                <div class="row">
                    <div class="col-3 px-2">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center ">
                                <img src="https://cdn-icons-png.flaticon.com/512/6460/6460733.png" class="comentarioImg">
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="comentarioUser ">davidMendoza</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="comentarioUser ">6/04/23 4:02 p.m.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <button nz-button nzType="default" class="deleteComentario" nzDanger>Eliminar  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 cajaComentario">
                        <span>illo vitae quod ea ipsa expedita rem, libero nesciunt aperiam? Odio, odit expedita reiciendis officia numquam quisquam inventore ipsum tenetur autem velit eveniet veritatis unde. Esse.</span>
                    </div>
                </div>
                
            </div>
        </ng-container>

    </div>

    <div class="row">
        <div class="col-12 text-center">
            Puedes dejar tu comentario:
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <textarea rows="4" nz-input [(ngModel)]="comentarioBox"></textarea>
        </div>
    </div>
    <div class="row mt-2 pb-5">
        <div class="col-12 d-flex justify-content-center">
            <app-enviar-btn></app-enviar-btn>
        </div>
    </div>
</div>